{% extends "login_app/base.html" %} {% block title %} index page {% endblock %}
{% block content %}
<h1>New password</h1>
<a href="{% url 'login_app:login' %}">Login</a>

<hr />
<form action="{% url 'login_app:password_reset_form' %}" method="POST">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="hidden" name="secret" value="{{ secret }}" />
      <input
        type="email"
        name="email"
        placeholder="Email"
        class="form-control"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="form-control"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm Password"
        class="form-control"
      />
    </div>
  </div>
  <button class="btn btn-secondary">Save</button>
</form>
{% endblock %}
