{% extends "login_app/base.html" %} {% block title %} index page {% endblock %}
{% block content %}
<h1>Password reset</h1>
<a href="{% url 'login_app:login' %}">login</a>

<hr />
<form action="{% url 'login_app:password_reset' %}" method="POST">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        type="email"
        name="email"
        placeholder="Email Address"
        class="form-control"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <button class="btn btn-secondary">Submit</button>
    </div>
  </div>
</form>
<hr />
{% endblock %}
